@use "../../styles/partials/colors" as color;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

.video-card {
	width: 100vw;
	display: flex;
	gap: 4%;
	overflow: hidden;

	&__poster {
		width: 35%;

		&-image {
			width: 100%;
			border-radius: 0.25rem;
		}
	}

	&__description {
		max-width: 50%;
		display: flex;
		flex-direction: column;
		align-content: center;
		overflow: hidden;

		&-title {
			@include text-body__mobile--bold;
			margin: 0;
			min-width: 0;
			white-space: normal;
			word-wrap: break-word;
			overflow: hidden;
			text-overflow: clip;
		}

		&-channel {
			color: grey;
			font-size: 0.8125rem;
			font-weight: 400;
		}
	}
}
