@use "../../styles/partials/colors" as color;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

/*  MOBILE  */
@include breakpoint.small {
	.comment-block {
		padding: 0 1rem;
	}
}

/*  TABLET  */
@include breakpoint.medium {
	.comment-block {
		padding: 0 2rem;
	}
}

/*  DESKTOP */
@include breakpoint.large {
	.comment-block {
		padding: 0;
	}
}
