@use "../../styles/partials/colors" as color;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

@include breakpoint.small {
	.videoDisplay {
		width: 100vw;
		max-height: 35vh;
		background-color: color.$secondary-dark;
		// aspect-ratio: 16/9;

		&__video {
			width: 100vw;
			max-height: 35vh;
		}
	}
}
