/* primary colors */
$primary-dark: #323232; //BrainFlix-black
$primary-semi-light: #afafaf; // silver
$primary-light: #ffffff; //white
$primary-accent: #0095ff; //BrainFlix-blue

/*Secondary colors*/
$secondary-dark: #000000; //BrainFlix-darkBlack
$secondary-accent-dark: #0065ad; //BrainFlix-darkBlue
$secondary-semi-light: #e1e1e1; // mercury
$secondary-light: #fafafa; // alabaster
$secondary-error: #d22d2d;
