/* Regular */
@font-face {
	font-family: "avenir";
	src: url("../assets/font/avenirnext-regular.ttf") format("truetype"),
		url("../assets/font/avenirnext-regular.otf") format("opentype");
	font-weight: 400;
}

// /* demi Bold */
// @font-face {
//   font-family: 'avenir';
//   src: url('../assets/font/avenirnext-demi.ttf') format('truetype'),
//     url('../assets/font/avenirnext-demi.otf') format('opentype');
//   font-weight: 600;
// }

/* Bold */
@font-face {
	font-family: "avenir";
	src: url("../assets/font/avenirnext-bold.ttf") format("truetype"),
		url("../assets/font/avenirnext-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
