@use "../../styles/partials/colors" as color;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

/*  MOBILE  */
@include breakpoint.small {
	.video-info {
		width: 100vw;
		background-color: color.$primary-light;
		padding: 0 1rem;
	}
}

/*  TABLET */
@include breakpoint.medium {
	.video-info {
		width: 100vw;
		background-color: color.$primary-light;
		padding: 0 2rem;
	}
}

/*  DESKTOP */
@include breakpoint.large {
	.video-info {
		width: 100%;
		background-color: color.$primary-light;
		padding: 0rem;
	}
}
