@use "../../styles/partials/colors" as color;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as breakpoint;

/* MOBILE */
@include breakpoint.small {
	.next-video {
		width: 100vw;
		padding: 0 1rem 0.5rem;

		&__header {
			@include text-body__mobile--light;
			font-weight: 700;
			margin: 1rem 0 0.7rem;
		}
	}
}

/* TABLET */
@include breakpoint.medium {
	.next-video {
		padding: 0 2rem 0.5rem;

		&__header {
			@include text-body__mobile--light;
			font-weight: 700;
			margin: 1.5rem 0 1.2rem;
		}
	}
}

/* DESKTOP*/
@include breakpoint.large {
	.next-video {
		padding: 0;

		&__header {
			@include text-body__mobile--light;
			font-weight: 700;
			margin: 0;
			padding: 2rem 0 1rem 1.5rem;
		}
	}
}
